body{
  color: rgb(105, 105, 209);
}
.container {
  max-width: 600px;
  max-height: 550px;
  padding: 20px, 10px;
  margin: 20px auto;
  border-radius: 20px;
}
h1 {

  padding: 5px;
  top: -25px;
}
ul{
  margin: 0; 
  padding: 0;
}
 li{
   list-style: none;
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-weight: 100;
   line-height: 19px;
 }


.weather-app {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: thick double #32a1ce;
  border-radius: 3px;
  padding: 1em;
  background-color: honeydew;
}

.weather-app:hover {
  background-color: rgb(240, 252, 240);
}

.overview{
  margin-bottom: 20px;
}
.search-bar {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 25px;
 
}

.weather-temperature{
    position: relative;
    font-size: 38px;
    top: -34px;
}

.weather-forecast-date {
    font-size: 16px;
 
    color:darkolivegreen
}


.footer {
  color: #0beb29;
  display: block;
  font-family: monospace;
  font-size: 10px;
  margin: 0 auto;
}